<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left glphi-white"></span>
            </a>

            <p class="navbar-brand"><strong>Websites</strong></p>

            <a href="#/user/{{model.userId}}/website/new" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-plus glphi-white"></span>
            </a>

        </div>
    </div>
</nav>

<br/><br/>

<div class="container">
    <div ng-repeat="website in model.websites" class="row row-space" >
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="no-underline">{{website.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" > <span class="glyphicon glyphicon-cog pull-right"></span></a>
        </div>

    </div>


</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user glphi-white"></span>
            </a>
        </div>
    </div>
</nav>
