input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
    /*background-color: #E8EAF6;*/
}

.body-scrollable {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Making the text color white on the blue bg*/
.navbar-custom {
    color: white;
}

/* Making the anchor for brand non-clickable*/
.no-link {
    pointer-events: none;
}


.glphi-white {
    color : white !important;
}

.anchor-blue {
    color: #337AB7
}

.row-space {
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}

.underlay {
    position: relative
}

.video-responsive {
    width: 100%;
    height: auto;
}

.navbar-gizmodo {
    color : #F8F8F8;
    background-color:  #F8F8F8;
}

.remove-right-padding {
    padding-right: 10px;
}


a, a:visited, a:hover, a:active {
    color: inherit;
}

.no-underline {
    text-decoration: none !important;
}


/*
.h1-gizmodo {
    padding-top : 15px;
}*/




