<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}/website" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <p class="navbar-brand"><strong>Pages</strong></p>


            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>

        </div>
    </div>
</nav>

<br/><br/>
<div class="container-fluid">

    <div class="row row-space" >
        <div ng-repeat="page in model.websitePages" class="col-xs-12 anchor-blue">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget" class="no-underline">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"> <span class="glyphicon glyphicon-cog pull-right"></span></a>
        </div>
    </div>

</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user anchor-blue"></span>
            </a>
        </div>
    </div>
</nav>
