<div class="container">

    <h1>Login</h1>
    <div class="alert alert-danger" ng-show="model.error" role="alert">
        {{model.error}}
    </div>


    <form name="login">
    <input type="text"
           name="username"
           ng-model = "model.username"
           class="form-control"
           placeholder="Username" required/>
    <div class="validate">
        <span class="alert-danger" role="alert" ng-show="login.username.$touched && login.username.$invalid">
            Username is required
        </span>
    </div>
    <input type="password"
           ng-model = "model.password"
           name="password"
           class="form-control"
           placeholder="Password" required/>
     <div class="validate">
        <span class="alert-danger" role="alert" ng-show="login.password.$touched && login.password.$invalid">
            Password is required
        </span>
     </div>
    <a class="btn btn-primary btn-block glphi-white"
       ng-click="model.login(model.username,model.password)">Login</a>

    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>

    <a class="btn btn-success btn-block glphi-white"
       href="#/register">Register</a>
    </form>
</div>
