<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a class="navbar-brand navbar-custom no-link">
                <strong>Profile</strong>
            </a>


            <p class="navbar-text pull-right">
                <a ng-click="model.updateProfile()" class="navbar-link navbar-custom">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <div class="alert alert-success" ng-show="model.success" role="alert">
        {{model.success}}
    </div>
    <div class="alert alert-danger" ng-show="model.error" role="alert">
        {{model.error}}
    </div>

    <form>
        <br/>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username" value="Wayne Rooney">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com" value="wazza@mufc.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="Alice" value="Wayne">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="Wonderland" value="Rooney">
        </div>
    </form>

    <a class="btn btn-primary btn-block glphi-white"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block glphi-white"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.user._id}}" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user glphi-white"></span>
            </a>
        </div>
    </div>
</nav>
