<div class="container">
    <h1>Register</h1>
    <input type="text"
           class="form-control"
           placeholder="Username"/>
    <input type="password"
           class="form-control"
           placeholder="Password"/>
    <input type="password"
           class="form-control"
           placeholder="Confirm password"/>
    <a class="btn btn-primary btn-block glphi-white"
       href="#/user/123">Register</a>
    <a class="btn btn-danger  btn-block glphi-white"
       href="#/login">Cancel</a>
</div>
