<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <p class="navbar-brand"><strong>Choose Widget</strong></p>

        </div>


    </div>
</nav>


<div class="alert alert-danger" ng-show="model.error" role="alert">
    {{model.error}}
</div>
<div class="container">
    <div class="row row-space" >
        <div class="col-xs-12 anchor-blue">
            <a  ng-click="model.createWidget('HEADER')" class="make-pointer no-underline">Header</a>
        </div>

    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('LABEL')" class="make-pointer no-underline">Label</a>
        </div>

    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('HTML')" class="make-pointer no-underline">HTML</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('TEXT')" class="make-pointer no-underline">Text Input</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('LINK')" class="make-pointer no-underline">Link</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('BUTTON')" class="make-pointer no-underline">Button</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('IMAGE')" class="make-pointer no-underline">Image</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('YOUTUBE')" class="make-pointer no-underline">YouTube</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('DATA TABLE')" class="no-underline">Data Table</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a ng-click="model.createWidget('REPEAT')" class="make-pointer no-underline">Repeater</a>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user anchor-blue"></span>
            </a>
        </div>
    </div>
</nav>
