<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <p class="navbar-brand"><strong>Widget Edit</strong></p>


            <p class="navbar-text pull-right">
                <a ng-click="model.updateCurrentWidget()" class="navbar-link navbar-custom">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>




<div class="container-fluid">
    <br/>
    <div class="alert alert-danger" ng-show="model.error" role="alert">
        {{model.error}}
    </div>
    <form class="htmlView">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" id="name" name="htmlName" class="form-control" required/>
        <div class="validate">
                <span class="alert-danger" role="alert" ng-show="htmlView.htmlName.$touched && htmlView.htmlName.$invalid">
                            Widget Name is required
                </span>
        </div>

        <div class="form-group">
            <label for="text">Text</label>
            <textarea class="form-control" ng-model="model.widget.text" id="text" name="htmlViewText" placeholder="Text goes here"></textarea>
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteCurrentWidget();">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user anchor-blue"></span>
            </a>
        </div>
    </div>
</nav>