<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <p class="navbar-brand"><strong>Widget Edit</strong></p>


            <p class="navbar-text pull-right">
                <a ng-click="model.updateCurrentWidget()" class="navbar-link navbar-custom">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <br/><br/>
    <form>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" ng-model="model.widget.text" class="form-control" id="Name" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="title">Description</label>
            <input type="text" class="form-control" id="title" placeholder="Description">
        </div>

        <div class="form-group">
            <label for="size">Size</label>
            <input type="number" ng-model="model.widget.size" class="form-control" id="size" >

        </div>
        <a class="btn btn-danger btn-block glphi-white" ng-click="model.deleteCurrentWidget();">Delete</a>

    </form>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user anchor-blue"></span>
            </a>
        </div>
    </div>
</nav>
