<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/123/website/123/page" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <p class="navbar-brand"><strong>Widgets</strong></p>


            <a href="#/user/123/website/123/page/123/widget/new" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="list-group">
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <h1>GIZMODO</h1>
            </div>
            <div class="overlay remove-right-padding">
                <br/>
                <a href="#/user/123/website/123/page/123/widget/widget-heading" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>

            </div>
        </div>
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <h3>Reds Motivated by Tough Tests</h3>
            </div>
            <div class="overlay remove-right-padding">
                <a href="#/user/123/website/123/page/123/widget/widget-heading" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <img class="img-responsive" src="http://www.mrwallpaper.com/wallpapers/manchester-united-logo-1280x720.jpg" alt="Manchester United Crest"/>
            </div>
            <div class="overlay remove-right-padding">
                <a href="#/user/123/website/123/page/123/widget/widget-image" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <p>
                    First up for the Reds in a busy month of matches is the visit of Stoke City on Sunday, followed by Liverpool away on Monday 17 October.
                    A home game in the Europa League against Fenerbahce (and Robin van Persie) follows three days later, before Mourinho returns to his former club for a
                    meeting with Chelsea on Sunday 23 October. Manchester City come to Old Trafford for the League Cup fourth-round tie the following Wednesday, before United host
                    Burnley in the league on Saturday 29 October.
                </p>
            </div>
            <div class="overlay remove-right-padding">
                <a href="#/user/123/website/123/page/123/widget/widget-heading" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <h3>FIFA 17 Official Gameplay Trailers</h3>
            </div>
            <div class="overlay remove-right-padding">
                <a href="#/user/123/website/123/page/123/widget/widget-heading" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <iframe class="video-responsive" src="https://www.youtube.com/embed/yYjD78X1d9Q" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="overlay remove-right-padding">
                <a href="#/user/123/website/123/page/123/widget/widget-youtube" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="underlay">
            <div class="container-fluid remove-right-padding">
                <p>
                    FOOTBALL IS BACK and it's Powered by Frostbite! See new signings, skill moves, celebrations, and Own Every Moment with FIFA 17 gameplay.
                </p>
            </div>
            <div class="overlay remove-right-padding">
                <a href="#/user/123/website/123/page/123/widget/widget-heading" class="no-underline">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/123" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user anchor-blue"></span>
            </a>
        </div>
    </div>
</nav>

