<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/123/website/123/page/123/widget" class="navbar-text text-center pull-left">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <p class="navbar-brand"><strong>Choose Widget</strong></p>

        </div>


    </div>
</nav>

<br/><br/>
<div class="container">
    <div class="row row-space" >
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/widget-heading" class="no-underline">Header</a>
        </div>

    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/:wid/page/123/widget/new" class="no-underline">Label</a>
        </div>

    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/new" class="no-underline">HTML</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/new" class="no-underline">Text Input</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/new" class="no-underline">Link</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/new" class="no-underline">Button</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/widget-image" class="no-underline">Image</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/widget-youtube" class="no-underline">YouTube</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/new" class="no-underline">Data Table</a>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-xs-12 anchor-blue">
            <a href="#/user/123/website/123/page/123/widget/new" class="no-underline">Repeater</a>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/123" class="navbar-text pull-right navbar-link">
                <span class="glyphicon glyphicon-user anchor-blue"></span>
            </a>
        </div>
    </div>
</nav>
